<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>Mangadex Updater</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
         rel="icon"
         href="https://mangadex.org/favicon-192x192.png?1"
         type="image/png"
         />
      <script
         src="https://code.jquery.com/jquery-3.5.1.min.js"
         crossorigin="anonymous"
         ></script>
      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
         />
      <style type="text/css">
         body {
         background-color: #FFFFFF;
         }
         .ui.menu .item img.logo {
         margin-right: 1.5em;
         }
         .main.container {
         margin-top: 7em;
         }
         .wireframe {
         margin-top: 2em;
         }
         .ui.footer.segment {
         margin: 5em 0em 0em;
         padding: 5em 0em;
         }
      </style>
      <%- include('global/https')-%>
      <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>-->
      <script src='https://unpkg.com/nprogress@0.2.0/nprogress.js'></script>
      <link rel='stylesheet' href='https://unpkg.com/nprogress@0.2.0/nprogress.css'/>
      <script src="/dex.js"></script>
   </head>
   <body>
      <div class="ui basic modal" id="maxinfo">
         <div class="ui icon header">
            <i class="ban icon"></i>
            Only allowed <%= limit %> titles per-user!
         </div>
         <div class="actions">
            <div class="ui red basic cancel inverted button">
               <i class="remove icon"></i>
               Close
            </div>
         </div>
      </div>
     <div class="ui tiny modal" id="info">
        <div class="header">Mangadex Update Notifier LINE Bot</div>
       <i class="close icon"></i>
        <div class="content">
            <p>(Unofficial) Mangadex update notifier for LINE.
            Follow a manga and get notified every time there is an update on Mangadex!</p>
            <h2 id="how-to-use">How to use</h2>
            <ol>
            <li>Add bot by clicking <a href="https://line.me/R/ti/p/@228kmsfw">this</a> link.</li>
            <li>Start following a manga!</li>
            </ol>
            <h2 id="information">Information</h2>
            <ol>
            <li>This bot only sends manga update with English language.</li>
            <li>Bot (should) checks update every one minute.</li>
            <li>If bot keep sending you a same update, it is a most likely that MangaDex itself is experiencing an issue, please bear with it for a moment (you can mute bot until it solves).</li>
            <li>If you think there is an update but bot does not send a any update, there is a high chance that Push Messages Quota is exceeded, LINE limits the push quota only 500 for each month.</li>
            <li>If you find any problem, please make an issue <a href="https://github.com/raf555/mangadex-updater-line" target="_blank">here</a>.</li>
            </ol>
          </p>
        </div>
      </div>
      <%- include('global/menu')-%>
      <div class="pusher">
         <div class="ui main text container">
            <div class="ui breadcrumb">
               <a class="section" href="/">Home</a>
               <div class="divider">/</div>
               <a class="section">Mangadex</a>
            </div>
            <div class="ui divider"></div>
            <h2 class="ui header">
               <i class="book icon"></i>
               <div class="content">
                  Mangadex Update Notifier
                 <small><a class="ui black circular label" style="font-size:10px;" title="What is this?" onclick="$('#info').modal('show')">?</a></small>
                  <div class="sub header">Customize your manga following list and get message every time there is an update!
                     <br><small>Send <b>!dex</b> to bot via personal chat to see your following list update.</small>
                  </div>
               </div>
            </h2>
            <div class="ui divider"></div>
           <!--<div class="ui small warning message">
               <i class="close icon" onclick="$(this).closest('.message').transition('fade');"></i>
               <div class="header">
                  Announcement
               </div>
               <p>There is some issues with Follow features, please contact admin immediately after following a manga.</p>
            </div>-->
            <% if(added) { %>
            <div class="ui middle aligned divided list">
               <div class="item">
                  <div class="floated content">
                     <form id="s" class="ui form">
                        <div class="ui fluid large input" id="sin">
                           <input type="text" placeholder="Search title (press enter to search new title or id)" id="search" autocomplete="off" value="<%= q||'' %>" />
                           <div class="ui positive button getself" style="display:none">My Following List</div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="ui segment" style="height:500px;overflow-x:scroll" id="segme">
               <div class="ui divided items" id="sr">
                  <%-out %>
               </div>
            </div>
            <div class="ui middle aligned divided list">
               <div class="item">
                  <div class="right floated content">
                     Showing <span id="akeh"></span> of <span id="totakeh"></span> Manga.
                  </div>
               </div>
            </div>
            <% } else { %>
           <center>
            <h1 class="ui header">You have to add Bot first to be able to use this.</h1>
            <a href="https://line.me/R/ti/p/@228kmsfw">
            <button class="ui positive button">
            <i class="linechat icon"></i>
            Add
            </button>
            </a>
           </center>
            <% } %>
         </div>
         <%- include('global/footer')-%>
      </div>
   </body>
</html>